.home{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgb(0, 0, 0, 0.9), rgb(0, 0, 0, 0.9)),  url(../../Images/3415615.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.overlap{
    width: 100vw;
    height: 20vh;
    background: linear-gradient( transparent, rgb(0, 0, 0, 0.9));
    position: absolute;
    top: 80%;
    z-index: 9;
}