.header{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.headerFonts{
    width: 40vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 7vw;
}

.kingImg{
    position: relative;
    width: 40vw;
    left: -3vw;
}

.headerTitleDiv{
    margin: 0;
    width: 32vw;
    height: 10vh;
    background-color: beige;
}

.headerTitle{
    text-transform: uppercase;
    color: #e1b15d;
    font-size: 6vw;
    position: relative;
    font-family: Royal;
    margin: 0;
}

.headerUnderTitleDiv{
    margin: 0;
}

.headerUnderTitle{
    text-transform: uppercase;
    color: #988f8f;
    font-size: 3vw;
    position: relative;
    font-weight: 100;
    margin: 0;
}

.headerSubline{
    color: #fff;
    font-size: 2vw;
    position: relative;
    font-weight: 100;
}

.secondSubline{
    color: #fff;
    font-size: 1.5vw;
    position: relative;
    font-weight: 100;
}

.btns{
    width: 40vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 50px;
}

.learnBtn{
    width: 15vw;
    height: 10vh;
    background-color: #e1b15d;
    border: none;
    border-radius: 40px;
    color: black;
    position: relative;
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 800;
    font-family: Royal;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}